*{
    box-sizing: border-box;
}

ul, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 0 2px 3px #0000004f;
}

.header__menu{
    display: flex;
}

.header__link{
    padding: 10px 25px;
}

.page{
    padding: 15px;
    margin: 0 auto;
    min-height: 300px;
    max-width: 1000px;
    box-shadow: 0 0 2px 3px #0000004f;
}

.footer{
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    box-shadow: 0 0 2px 3px #0000004f;
    text-align: center;
}

.auth{
    max-width: 500px;
    margin: 50px auto 0 auto;
}

.auth__row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

.auth__check{
    padding: 10px 0;
    display:flex;
    align-items: center;
}

.auth__text{
    padding:5px;
    height: 30px;
    font-size: 15px;
}

.auth__btn{
    margin: 0 auto;
    padding: 5px 20px;
    background: #c7c724;
    color: black;
    border: none;
    font-size:18px;
    border-radius: 4px;
    /*text-transform: uppercase;*/
}

.auth__btn:hover{
    background: #96961a;
}

.auth__error{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.auth__error_hide{
    display: none;
}

.auth__error_show{
    display: block;
}

#ttn_table, #ttns_table{
    visibility: hidden;
    border-collapse: collapse;
}

tbody, th, td {
  border: 1px solid black;
}

h3{
    visibility: hidden
}

.active{
    background-color: #ccccb3;
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
}

#left, #right{
/*    border: 1px solid black;*/
    min-height: 300px;
    
}

#left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#right{
    box-shadow: 0 0 2px 3px #0000004f;
    width: 40%;
}

#status, #rezult{
    border: 1px solid black;
}

#status{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#rezult{
    min-height: 150px;
    box-shadow: 0 0 2px 3px #0000004f;
}

form.auth{
    margin-top: 0;
}

#sendbtn{
    margin-left: 10px;
}

@media(max-width: 500px){
    #wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #left, #right{
        width: 100%;
    }
}