*{
    box-sizing: border-box;
}

ul, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header{
    max-width: 1000px;
    margin: 15px auto;
    padding: 15px;
    box-shadow: 0 0 2px 3px #0000004f;
}

.header__menu{
    display: flex;
}

.header__link{
    padding: 10px 25px;
}

.page{
    padding: 15px;
    margin: 0 auto;
    min-height: 300px;
    max-width: 1000px;
    box-shadow: 0 0 2px 3px #0000004f;
}

.footer{
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    box-shadow: 0 0 2px 3px #0000004f;
    text-align: center;
}

.auth{
    max-width: 500px;
    margin: 50px auto 0 auto;
}

.auth__row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
}

.auth__check{
    padding: 10px 0;
    display:flex;
    align-items: center;
}

.auth__text{
    padding:5px;
    height: 30px;
    font-size: 15px;
}

.auth__btn{
    margin: 0 auto;
    padding: 5px 20px;
    background: #c7c724;
    color: black;
    border: none;
    font-size:18px;
    border-radius: 4px;
    /*text-transform: uppercase;*/
}

.auth__btn:hover{
    background: #96961a;
}

.auth__error{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.auth__error_hide{
    display: none;
}

.auth__error_show{
    display: block;
}

#ttn_table, #ttns_table{
    visibility: hidden;
    border-collapse: collapse;
}

tbody, th, td {
  border: 1px solid black;
}

h3{
    visibility: hidden
}

.active{
    background-color: #ccccb3;
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#left, #right{
/*    border: 1px solid black;*/
    min-height: 300px;
    
}

#left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#right{
    box-shadow: 0 0 2px 3px #0000004f;
    width: 40%;
}

#status{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#status .auth__row{
    display: flex;
    flex-direction: column;
}

#rezult{
    min-height: 150px;
    box-shadow: 0 0 2px 3px #0000004f;
}

form.auth{
    margin-top: 0;
}

#sendbtn{
    margin-left: 10px;
}

#right ul, #rezult ul{
    margin: 0 20px;
}

h4{
    margin-left: 20px;
}

#right ul li, #rezult ul li{
    margin: 10px 0;
}

#right ul li:hover{
    background: #0000004f;
}

@media(max-width: 500px){
    #wrapper{
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #left, #right{
        width: 100%;
    }
    
    .hamburger-menu{
        display: block;
        z-index: 1;
    }
    .header{
        display: none;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        left: 20px;  
        width: 26px;
        height: 26px;  
        cursor: pointer;
        z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;  width: 100%;
        height: 2px;  background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;  
        width: 300px;
        height: 100%;  
        margin: 0;
        padding: 80px 0;  
        list-style: none;
        text-align: center;  
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        background-color: #f2f0ed;
    }
    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;  
        color: #000000;  
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;  
        text-decoration: none;
    }
    .menu__item a{
        color: #000000;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
    .menu__box li{
        margin: 10px 0;
    }
    
    .page{
        margin-top: 50px;
    }
}